/* Charity: water Brand Colors */
 :root {
  --Yellow: #FFC907;
  --Blue: #2E9DF7;
  --Light-Blue: #8BD1CB;
  --Green: #4FCB53;
  --Orange: #FF902A;
  --Red: #F5402C;
  --Dark-Green: #159A48;
  --Pink: #F16061;
  --White: #FFFFFF;
 }

/*
  Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061
*/


body {
  font-family: Didot, serif;
  text-align: center;
  background: var(--Blue);
  margin: 0;
  padding: 20px;
}

h1 {
  margin-top: 20px;
}

#score {
  font-weight: bold;
}

.progress-bar {
  width: 90%;
  max-width: 500px;
  height: 12px;
  background: var(--White);
  margin: 10px auto;
  border-radius: 6px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 0%;
  background: var(--Red);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: 20px auto;
}

.card {
  aspect-ratio: 1 / 1;
  background: var(--Yellow);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s, background 0.2s;
}

.card.matched {
  opacity: 0.5;
 transform: scale(0.9);
}

.card:active {
  transform: scale(0.95);
}

.card.clean {
  background: var(--Light-Blue);
}

.card.dirty {
  background: var(--Dark-Green);
}

#message {
  margin-top: 15px;
  height: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.difficulty button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#timer {
  font-weight: bold;
  color: #2e9df7;
}

@media (max-width: 500px) {
  .grid {
    max-width: 260px;
  }
}